body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    margin-top: -20px;
    height: 865px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;


}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;

}

.about,
.sign-in {
    text-decoration: none;
    padding: 05px 15px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;

}

.sign-in {
    margin-right: 300px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 15px;
}

.logo {
    background: url('./hapoERP.png') center center no-repeat;
    margin-top: -250px;
    height: 100%;
}

.text {
    margin-top: 100px;
    text-align: center;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
}

.btn-start-now {
    text-align: center;
}

.button {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid green;
    border-radius: 20px;
    background-color: rgb(75, 199, 75);
    cursor: pointer;
}

.conten-center {
    /* border: 1px solid green; */
    height: 50px;
    margin-top: -350px;
    text-align: center;

}

.left,
.center,
.right {
    width: 20%;
    display: inline-block;
    text-align: center;
}

.better,
.faster,
.togetder {
    display: block;
    font-size: 40px;
}

img {
    width: 40px;
    height: 40px;
}